NODE_ENV=development
APP_PORT=8000
PORT=8000
JWT_KEY=xxxxxxxxxxxxxxxxx
JWT_EXP=1d
APP_IV=xxxxxxxxxxxxxxxx
APP_SIGNATURE_KEY=xxxxxxxxxxxx

DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres
DB_HOST='127.0.0.1'
DB_PORT=5432
DB_CONNECTION=postgresql
DB_SSL=false

JWT_SECRET=jxx871kr59
